
	
 

<div id="col-AB">
	

	<h1><u>Departamento Comercial</u></h1><br>
	<img src="/images/phone_button.jpg" width="48" height="48" align="left"><h1> &nbsp; &nbsp; +55 - 011 - 3621.6464 <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3621-6868</h1> <br>
	
		<img src="/images/fax-icone.jpg" width="48" height="48" align="left"><h1> &nbsp; &nbsp; +55 - 011 - 3621.7908 <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1> <br>
	
	<p>	<img src="/images/envelope.png" width="48" height="35" align="left" alt="Email" ><h1>&nbsp;&nbsp;<a href="mailto:vendas@rizzitherm.com.br">vendas@rizzitherm.com.br</a></h1></p>


</div>






