

<p>A  <strong><i>RIZZITHERM</i></strong> iniciou suas atividades em meados do ano de 1995 e desde então, temos nos dedicado em desenvolver Sistemas de Aquecimento Industrial para os mais diversos segmentos de mercado.</p>
<p>No início da década de 90, passamos por uma transformação muito grande especializando-nos em Sistema de Aquecimento com energia gerado através de gás natural e passamos a fabricar equipamentos de maior porte, tais como: Aquecedores de passagens, estufas, fornos, etc.</p>

<p>Alguns anos depois, com o advento do "apagão" tivemos uma expressiva participação no mercaco que sofria com a falta de energia elétrica e necessitava ter seus equipamentos transformados para aquecimento a gás. Tinhamos adquirido experiência suficiente para oferecer aos nossos clientes tecnologia de ponta com custo muito competitivo para a época.</p>

<p>A  <strong><i>RIZZITHERM</i></strong> hoje, reconhecidamente por seus clientes, pertence a um grupo seleto de fornecedores de materiais elétricos destinados ao aquecimento industrial e também participa do mercado fornecedor de equipamentos especiais, tanto quanto ao fornecimento de máquinas para fabricantes de resistencias elétricas.</p>

<p>Nossa preocupação é a constante evolução tecnológica para conseguirmos diante de nosso mercado, oferecer aos nossos clientes produtos de extrema qualidade com excelente custo x benefício. </p>

<p>Temos a certeza de que, com o passar dos anos, a nossa empresa não envelhece! Simplesmente adquire experiência suficiente para continuar atendendo-os com a mesma dinâmica de sempre e oferecendo o que temos de melhor aos nossos clientes.</p>

<p>Hoje, estamos em franco desenvolvimento, graças ao reconhecimento de nossos consumidores e que facilmente reconhecem o nosso diferencial perante à nossa concorrência.</p>

<p>O que podemos lhe oferecer além de que já temos a disposição ? Caso haja algo mais que pudermos fazer para melhorar o nosso sitema de atendiemnto, tenha certeza, o faremos! </p>