a:link { color: #00FFFF; text-decoration: none;}
a:visited {color: #66FFFF;}
a:hover {color:#006699;}
a:active {color:#00bbdd;}






#container {
	width:929px;
	margin:6px auto;
}


body {	
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#464a4f;
	background:url(../images/body-bg.jpg) repeat;
}


#col-A {
	width:196px;
	height:200px;
	float:left;
	padding: 10px 10px 10px 10px;
	text-align:justify;
	background-color:yellow;

	
}



#col-B {
	width:196px;
	height:200px;
	float:left;
	padding: 10px 10px 10px 10px;
	text-align:justify;
	background-color:pink;
	
	
}

#col-C {
	width:196px;
	height:200px;
	float:left;
	padding: 10px 10px 10px 10px;
	text-align:justify;
	background-color:blue;
		
}


#col-right {
	width:210px;
	float:right;
	font-size:15px;
	font-style:oblique;
	color:#0000ff;
	a:link { color: #0000FF; text-decoration: none;};
	a:visited {color: #0000FF;};
	a:hover {color:#006699;};
	a:active {color:#00bbdd;};

}

#col-left {
	width:650px;
	float:left;
	padding: 10px 10px 20px 20px;
	text-align:justify;
	
}


#footer {
	width:929px;
	height:50px;
	float:left;
	text-align:center;
	border-top:8px #53666c solid;
	clear:both; 	
	color:black;
	padding: 10px 0px 0px 0px;
	background-color:#AAAAAA;
}



#header {
	width:929px;
	float:left;
	background:url(../images/heaser-bg.jpg) no-repeat;
	height:221px;
	text-align:center;
	vertical-align:middle;
	background-color: #cccccc;
}
	
		
#logo {	
	width:auto;
	float:center;
	margin:73px 0px 0px 33px;	
}



#nav {
	width:908px;
	float:left;
	background:url(../images/nav-bg.jpg) repeat-x;
	height:21px;
	padding:10px;
	vertical-align:middle;
	font-size:13px;
	color: #3377bb;
	a:link { color: #00ffff; text-decoration: none; }
	a:visited {color: #66ffff;}
	a:hover {color:#006699;}
	a:active {color:#00bbdd;}	
}		
	
	

	
#nav ul li {	
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	line-height:50px;
	padding:3px 50px 3px 50px;
	border-right:10px #00222a solid;
	margin:7px 0px 0px 0px;
    text-decoration:none;

}	




#site-content {
	width:929px;
	height:auto;
	float:left;
	background:url(../images/site-bg.jpg) repeat-y;
}







.h-text-1 {

	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#020202;
	font-weight:bold;
	padding:0px 0px 15px 0px;
	}
	
.h-text-2 {

	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#020202;
	font-weight:bold;
	padding:10px 0px 10px 0px;
	}
	
.h-text-3 {

	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#0000ff;
	font-weight:bold;
	padding:0px 0px 0px 15px;
	background:url(../images/arr-2.jpg) no-repeat 0px 3px;
	margin:10px 0px 0px 0px;
	}


.text-1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#464a4f;
	padding:5px 0px 5px 0px;
	}
	
.text-2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#020202;
	padding:0px 0px 5px 0px;
	}

ul.list-1 {
	margin:10px 0px 0px 15px;
	padding:0px;
	list-style:none;
	}

ul.list-1 li {
	margin:0px 0px 10px 0px;
	padding:0px 0px 0px 15px;
	background:url(../images/arr-1.jpg) no-repeat 2px 5px;
	
	
	}

.border-1 {
	background:url(../images/border-bg.jpg) bottom repeat-x;
	
	}
	
ul.footer-nav {
	width:430px;
	float:right;
	margin:20px 0px 0px 0px;
	padding:0px;
	list-style:none;
	
		
	
	}
		
	
ul.footer-nav li {
	display:inline;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ffffff;
	margin:0px 10px 0px 10px;
	}
	
ul.footer-nav li a {
	display:inline;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ffffff;
	text-decoration:none;
	}	
	
ul.footer-nav li a:hover {
	text-decoration:underline;
	}	
