// Place all the styles related to the contato controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#col-AB {
	width:500px;
	height:200px;
	float:center;
	padding: 80px 10px 10px 100px;
	text-align:justify;
	a:link { color: #0000FF; text-decoration: none;};
	a:visited {color: #0000FF;};
	a:hover {color:#4876FF;};
	a:active {color:#00bbdd;};
	
}